.DS_Store/
.DS_Store
*.cnf
.direnv/
utils/HoleComputation.js
*.drat
*.lrat

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.hd
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz
*.out
*.pdf
*.xdv
*.vtc
*.synctex*
